:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Telegram colors */
    color-scheme: var(--tg-color-scheme);
    --separator-color: #c8c7cb;
    --highlight-default: rgb(142 142 146 / 24%);
  
    /* Main Color */
    --button-secondary-color: #f2f2f2;
}

@media(prefers-color-scheme: dark) {
  :root {
    --button-secondary-color: #3D402F;
  }
}

[data-color-scheme='light'] {
  /* Telegram colors */
  --separator-color: #c8c7cb;
  --highlight-default: rgb(142 142 146 / 24%);

  /* Main Color */
  --button-secondary-color: #f2f2f2;
}

[data-color-scheme='dark'] {
  --button-secondary-color: #3D402F;

}

a {
  font-weight: 500;
  color: var(--tg-theme-link-color);
  text-decoration: inherit;
}

body {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFD75B;
  color: #0D0000;
  /* color: var(--tg-theme-button-text-color); */
  cursor: pointer;
  transition: border-color 0.25s;

  &.secondary {
    background-color: var(--button-secondary-color);
    color: #FFD75B;

    &:hover {
      border-color: #FFD75B;
    }
  }
}

p {
  color: var(--tg-theme-hint-color);
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */